.header {
  width: 100%;
  height: 5rem;
  background-color: lightgray;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  color: lightcoral;
  display: flex;
  text-align: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 3rem;
}
ul a {
  list-style: none;
}

.header a {
  border: 1px black solid;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: lightgrey;
  border-radius: 5px;
  background-color: lightcoral;
  list-style: none;
  text-decoration: none;
}
.header a:hover {
  color: gray;
}
