.pagination {
  margin-left: 800px;
  margin-top: 500px;
  color: black;
}
.loading {
  position: absolute;
  margin-left: 750px;
  margin-top: 250px;
}
.buttons {
  padding-bottom: 50px;
  width: 200px;
  margin-left: 100px;
  background-color: transparent;
}
